@{
    ViewData["Title"] = "Статья";
}

<div class="col-md-10">
    <div>
        <h2 class="blog-post-title">@Model.Title</h2>

        <div>
            @if (Model.Tags.Count != 0)
            {
                @foreach (var tag in Model.Tags)
                {
                    <span class="badge bg-info text-dark">@tag.Content</span>
                }
            }
        </div>

        @if (User.IsInRole("3"))
        {
            <div class="righ-align">
                <div style="display:inline-block; margin-top:1%;">
                    <button class="btn btn-primary btn-sm" onclick="window.location.href='@Url.Action("Update", "Articles", new { id = Model.Id })'">Редактировать</button>
                </div>

                <div style="display:inline-block">
                    <form asp-controller="Articles" asp-action="Delete" asp-route-id="@Model.Id" method="post">
                        <button type="submit" class="btn btn-danger btn-sm">Удалить</button>
                    </form>
                </div>
            </div>
        }

        <hr>

        <p style="margin:2%"><font style="vertical-align: inherit">@Model.Content</font></p>

        <hr>

        @if (@Model.User_Id != 0)
        {
            <p class="text-muted" style="margin-top:1%">@Model.User.FirstName @Model.User.LastName</p>
        }

        <div>
            @if (@Model.Comments.Count != 0)
            {
                <h4 class="blog-post-title">Комментарии к статье</h4>
                @foreach (var comment in @Model.Comments)
                {
                    <p style="border:groove">comment.Text</p>
                    <span class="badge badge-primary" style="margin:5px,15px">comment.User.Name</span>
                }
            }
        </div>
    </div>
</div>